services:
  operator:
    restart: always
    build: 
      context: .
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:10000" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      hpkv:
        ipv4_address: 172.17.5.5
    ports:
      - 2225:22
      - 10000:10000
    profiles:
      - oracle
      - postgres

  db-postgres:
    build: 
      context: ./db/postgres
    restart: always
    user: postgres
    secrets:
      - db-password
    environment:
      - POSTGRES_DB=db
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      hpkv:
        ipv4_address: 172.17.5.4
    ports:
      - 2224:22
      - 8080:8080
    profiles:
      - postgres

  db-oracle:
    build: 
      context: ./db/oracle
    restart: always
    secrets:
      - db-password
    environment:
      - ORACLE_PWD=password
    expose:
      - 1521
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:1521" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      hpkv:
        ipv4_address: 172.17.5.3
    ports:
      - 2223:22
    profiles:
      - oracle

  wildfly:
    restart: always
    build: 
      context: ./wildfly
    ports:
      - 8080:8080
      - 9990:9990
      - 2222:22
    entrypoint: ["/opt/jboss/wildfly/bin/standalone.sh", "-b", "0.0.0.0", "-bmanagement", "0.0.0.0"]
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:8080" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on: 
      - operator
    networks:
      hpkv:
        ipv4_address: 172.17.5.2

    profiles:
      - oracle
      - postgres

secrets:
  db-password:
    file: db/password.txt
networks:
  hpkv:
    ipam:
      config:
        - subnet: 172.17.5.0/24
